@media only screen and (min-width : 600px) {

    
* {
    max-width: 900px;

}

    
/* HEADER */

header .site-logo {
    width: 250px;
    height: auto;
  }

.contact-us-now {
    float: left;
    background-color: #FFB81C;
    height: 80px;
    width: 180px;
    margin: 1rem;
    padding: 1rem;
  }
  
.contact-us-now img {
    width: 20px;
    height: 20px;
    padding-right: .1rem;
    margin: .1rem;
  }

.contact-us-now h3 {
    font-size: 1.1rem;
    margin: 0.3rem;
    padding-bottom: .3rem;
  }

header {
    display: grid;
    grid-template-columns: 1fr 35%;
    background-color: #FFEED2;
    text-decoration: none;
  }
  
.contact-us-now p {
    font-size: 0.7rem;
    color: #696969;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0.3rem;
    text-decoration: none;
  }
  
.contact-proximity {
    display: flex;
    flex-direction: row;
  }

/* NAVIGATION BAR */
nav button, #menu-title {
    display: none;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    height: 50px;
}

nav ul {
    max-width: 1028px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

nav ul li {
    padding-left: 2em;
    display: inline-block;
}

nav ul li a {
    border: none;
    padding: .3rem .3rem;
    text-align: center;
    font-size: 1rem;
}

nav ul.hide {
    display: block;
}

nav ul li a:hover {
    background-color: #FFEED2;
  }

nav ul.hide li a:hover {
    color: #FFB81C;
    }

nav ul.hide li a::after {
        content: '';
        display: block;
        width: 0;
        height: 3px;
        background: #FFB81C;
        transition: width .3s;
      }

nav ul.hide li a:hover::after {
        width: 100%;
        text-decoration: underline;
        border-bottom-color: #FFB81C;    
      }  

/* IMAGES */

.image-slider .front-hero, .temple-homepage .front-hero,
.hotel-chain .front-hero, .service-pic {
  width: 600px;
}

.temple-data .temple-pic {
  width: 300px;
}

/* HOMEPAGE MEDIUM VIEW */

.image-slider h2 {
  font-size: 1.6rem;
}

/* TEMPLE HOME PAGE */   

  .temple-info h3 {
    font-size: 1.5rem;
  }
  
  .temple-info p, .temple-info li {
    font-size: 1.3rem;
  }

/* HOTEL CHAIN MEDIUM VIEW */

.hotel-chain h2 {
  font-size: 1.5rem;
}

.hotel-chain p {
  font-size: 1.1rem;
}

.hotel-chain p.label {
  font-size: 1.1rem;
}

.hotel-chain .value {
  font-size: 0.9rem;
}


/* CALL TO ACTION FRONT PAGE SMALL VIEW*/

.call-to-action h2 {
  font-size: 1.5rem;
  width: 600px;
}


/* CONTACT US MEDIUM VIEW */

.contact-us-page .contact-element {
  padding: 1.6rem;
}

.contact-page .contact-us-page .contact-element p {
  font-size: 1rem;
}

form label.top-form {
max-width: 20rem;
width: 100%;
padding: 1rem;
font-family: 'Oswald', sans-serif;
color: #FFEED2;
font-size: 1.2rem;
}

form label.top-form input:required {
border-left: 6px solid red;
}

fieldset {
border: 0;
}

.google-map {
width: 600px;
height: 400px;
}

.contact-column {
flex: 50%;
}

.contact-background {
background-color: #F68D2E;
margin: 3.5rem;
padding: 1rem;
}

.form-title {
  color: #FFEED2;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}

.submit-button {
  color: #fd6906;
  background-color: #FFEED2;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
}

/*  SERVICES PAGE SMALL VIEW */

.service-pic {
  padding-top: 1,5rem;
}

.special-service-info li, .amenities-info li,
.reception-service-info p, .temple-missionaries-info p {
  font-size: 1rem;
}

.special-service-info ul, .amenities-info ul {
  padding-bottom: .5rem;
}

.reception-service-info p, .temple-missionaries-info p {
  font-size: 1rem;
}

/*  RESERVATION FORM SMALL VIEW */

.form-title {
  padding: 1rem;
}

.reservation-page .reserve-now-page {
  padding: 1rem;
  margin: 1rem;
  background-color: #F68D2E;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  width: 60%; 
}

.reservation-page .reserve-now-page p {
  font-size: .8rem;
}

form label.top-form, form label.sbs {
padding: 1rem;
font-size: 1rem;
}

form label.top-form input {
font-size: 1rem;
padding: .75rem;
width: 80%;
max-width: 20rem;
}

.form-title {
  font-size: 1.5rem;
}

.submit-button {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.reserve-now-page textarea {
width: 300px;
height: 200px;
}



 }

