/* This is the mobile first */

main {
  background-color: #FFEED2;
}

header {
  background-color: #FFFFFF;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: #F68D2E;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}


/* HEADER */

header .site-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: auto;
  padding: 1rem;
}

/* NAVIGATION BAR */

nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F68D2E;
}

nav button {
  display: flex;
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #696969;
}

nav .menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav ul, .footer-nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul {
  flex-direction: column;
}

nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #696969;;
  font-size: 1.2rem;
  border-top: 1px solid #FFEED2;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

nav ul li a:hover {
  background-color: #FFB81C;
  color: #FFFFFF;
  }

nav ul li .current {
  color: #FFEED2;
  background-color: #ff9248;
}

nav ul.hide {
  display: none;
}

#menu-title {
  color: #696969;
}

/* IMAGE SLIDER */

section.image-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


/* TEMPLE HOME PAGE */

.temple-homepage {
  background-color: #F68D2E;
  color: #FFEED2;
}


/* FOOTER BAR */

.footer-nav {
  background-color: #F68D2E;
  color: #FFEED2;
  font-family: 'Oswald', sans-serif;
}

.footer-nav li {
  display: inline;
  padding: 1rem;
}

/* CONTACT US PAGE */

.contact-us-page {
  display: flex;
}

form label.top-form {
display: flex;
flex-direction: column;
max-width: 20rem;
width: 100%;
padding: 1rem;
}

form label.top-form input:required {
border-left: 6px solid #F68D2E;
}

fieldset {
border: 0;
}

.google-map {
width: 600px;
height: 400px;
}

.contact-column {
flex: 50%;
}


/* CALL TO ACTION FRONT PAGE */
.call-to-action {
  text-align: center;
  background-color: #FFB81C;
  padding: 1rem;
  font-family: 'Oswald', sans-serif;
  color: #FFEED2;
}

/* IMAGES */

picture {
  object-fit: cover;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

    