/* This is the mobile first */

* {
  max-width: 600px;
}

main {
  background-color: #FFEED2;
  padding-bottom: 2rem;
}

header {
  background-color: #FFFFFF;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: #F68D2E;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size: 1.6rem;
  color: #FFEED2;
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-size: 1.4rem;
  color: #FFEED2;
  font-family: 'Oswald', sans-serif;

}

p { 
  font-size: 0.8rem;
  color: #FFEED2;
  font-family: 'Lustria', serif;
}

/* HEADER */

header .site-logo {
  width: 200px;
  height: auto;
  padding: 1rem;
}

.contact-us-now {
  float: left;
  background-color: #FFB81C;
  height: 80px;
  width: 160px;
  margin: 1rem;
  padding: .5rem;
}

.contact-us-now img {
  width: 20px;
  height: 20px;
  padding-right: .1rem;
  margin: .1rem;
}
.contact-us-now h3 {
  font-size: 1rem;
  margin: 0.3rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 50%;
  background-color: #FFEED2;
  padding: 1rem;
}

.contact-us-now p {
  font-size: 0.6rem;
  color: #696969;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0.3rem;
  text-decoration: none;
}

.contact-proximity {
  display: flex;
  flex-direction: row;
}

.contact-us-now:hover {
  box-shadow: 10px 10px #F68D2E;
}

.contact-us-now a {
  text-decoration: none;
}

.contact-us-now img {
  padding: .1rem;
}
/* NAVIGATION BAR */

nav {
  overflow: hidden;
  background-color: #FFEED2;
}

nav button {
  display: flex;
  margin: .2rem;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #F68D2E;
}

nav .menu-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav ul, .footer-nav {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul {
  flex-direction: column;
}

nav ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #F68D2E;
  font-size: 1.5rem;
  border-top: 1px solid #F68D2E;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid #F68D2E;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #FFEED2;
  background-color: #fd6906;
}

nav ul li .current {
  color: #FFEED2;
  background-color: #F68D2E;
}

nav ul.hide {
  display: none;
}

#menu-title {
  color: #F68D2E;
  margin-left: 0;
  padding: 0;
}

/* IMAGES */

.image-slider .front-hero, .temple-homepage .front-hero,
 .hotel-chain .front-hero, .temple-data .temple-pic,
 .service-pic {
  width: 400px;
}

.temple-data .temple-pic {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

/* HOMEPAGE SMALL VIEW*/

.image-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .image-slider h2 {
   margin-top: 0.5rem;
   margin-bottom: 1rem;
   font-size: 1.3rem;
 }

/* TEMPLE HOME PAGE */

.temple-homepage {
  background-color: #F68D2E;
  color: #FFEED2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.temple-info h3 {
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.temple-info h4 {
  margin: 0.6rem;
}

.temple-info p, .temple-info li {
  font-size: 1rem;
  margin: 0.6rem;
}

.temple-info a {
  text-decoration: none;
}

.temple-info .more-temple {
  width: 400px;
}
/* HOTEL CHAIN SMALL VIEW */

.hotel-chain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.hotel-chain h2 {
  color: #F68D2E;
  font-size: 1.3rem;
  margin: 0.5rem;
  text-transform: uppercase;
}

.hotel-chain p {
  color: #696969;
  font-size: 0.9rem;
  margin: 0.5rem;
  padding-top: 1rem;
}

.hotel-chain p.label {
  color: #F68D2E;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
}

.hotel-chain .value {
  color: #696969;
  font-family: 'Lustria', serif;
  font-size: 1rem;
}

.hotel-chain a {
  text-decoration: none;
}

.hotel-chain .contact-us a:hover {
  color: #FFB81C;
  background-color: #FFEED2;
}

.hotel-chain .contact-us a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #F68D2E;
  transition: width .3s;
}

.hotel-chain .contact-us a:hover::after {
  width: 100%;
  text-decoration: underline;
  border-bottom-color: #F68D2E;    
}  


/* CALL TO ACTION FRONT PAGE SMALL VIEW */

.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.call-to-action h2 {
  text-align: center;
  color:#FFEED2;
  background-color: #FFB81C;
  font-size: 1rem;
  padding: 1rem;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  width: 350px;
}

.call-to-action a:hover {
  box-shadow: 10px 10px #F68D2E;
}

.call-to-action a {
  text-decoration: none;
}

/* FOOTER BAR */

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFEED2;
  font-family: 'Oswald', sans-serif;
  padding-top: 1rem;
}

.footer-nav li {
  padding: 1rem;
  color: #FFEED2;
  list-style: none;
}

.resources a {
  text-decoration: none;
}

.footer-nav a:visited {
  color: #FFEED2;
}

footer .resources {
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #FFEED2;
}

.footer-nav li a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #FFEED2;
  transition: width .3s;
}

.footer-nav li a:hover::after {
  width: 100%;
  text-decoration: underline;
  border-bottom-color: #FFEED2;    
} 

footer {
  background-color: #F68D2E;
}

/* CONTACT US PAGE */

.contact-us-title h2 {
  margin: 0;
  text-transform: uppercase;
}

.contact-us-page .contact-element {
  padding: 1.5rem;
}

.contact-page .contact-us-page .contact-element h4 {
  color: #F68D2E;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contact-page .contact-us-page .contact-element p {
  color: #696969;
  font-size: 1rem;
}

form label.top-form {
display: block;
padding: 1rem;
font-family: 'Oswald', sans-serif;
color: #FFEED2;
font-size: 1.2rem;
}

form label.top-form input {
display: block;
font-size: 1rem;
padding: .75rem;
border-radius: 4px;
font-family: 'Lustria', serif;
width: 80%;
max-width: 20rem;
}


form label.top-form input:required {
border-left: 6px solid red;
}

fieldset {
border: 0;
}

.google-map {
width: 400px;
height: 300px;
}

.contact-column {
flex: 50%;
}

.contact-background {
background-color: #F68D2E;
margin: 2rem;
padding: 2rem;
}

.form-title {
  color: #FFEED2;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}

.submit-button {
  color: #fd6906;
  background-color: #FFEED2;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
}

/*  TEMPLE PAGE ACCORDIAN MENU */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  background-color: #fbfbf1;
  color: #F68D2E;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #F68D2E;
  color: #FFEED2;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 1rem;
  background-color: #fbfbf1;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: "\FF0B"; /* Unicode character for "plus" sign (+) */
  font-size: 1.2rem;
  color: #F68D2E;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
  color: #FFEED2;
}

/*  TEMPLE PAGE SMALL VIEW */

.temple-page {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.temple-page h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

/*
.temple-page .temple-data button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  color: #F68D2E;
} */

.temple-page .temple-data .weather-label {
  color: #FFB81C;
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin-bottom: 0;
}

.temple-page .temple-data .weather-value {
color: #F68D2E;
font-size: 1rem;
text-transform: capitalize;
text-align: center;
margin-top: 0.2rem;
}

.temple-page .temple-data {
  padding: 1rem;
}

.temple-page .panel p, .temple-page .panel li {
  font-family: 'Lustria', serif;
  font-size: 1rem;
  color: #F68D2E;
  text-align: left;
}

.temple-page .panel h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  color: #FFB81C;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0.4rem;
}

.temple-page .panel {
border-bottom: 2px solid #F68D2E;
}

/*  SERVICES PAGE SMALL VIEW */

.service-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 1rem;
}

.special-service-info li, .amenities-info li,
.reception-service-info p, .temple-missionaries-info p {
  font-family: 'Lustria', serif;
  color: #696969;
  font-size: .8rem;
}

.special-service-info ul, .amenities-info ul {
  width: 70%;
  margin: auto;
  padding-bottom: .8rem;
}

.reception-service-info p, .temple-missionaries-info p {
  font-size: .8rem;
  text-align: center;
}

/*  RESERVATION FORM SMALL VIEW */

.reserve-page-title h2 {
  margin: 0;
  text-transform: uppercase;
}

.form-title {
  padding: 1rem;
}

.reservation-page .reserve-now-page {
  padding: 2rem;
  margin: 2rem;
  background-color: #F68D2E;
  width: 40rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}

.reserve-now-page h4 {
  color: #F68D2E;
  padding-bottom: 0;
  margin-bottom: 0;
}

.reservation-page .reserve-now-page p {
  color: #696969;
  font-size: 1rem;
}

form label.top-form, form label.sbs {
display: block;
padding: 1rem;
font-family: 'Oswald', sans-serif;
color: #FFEED2;
font-size: 1.2rem;
}

form label.top-form input {
display: block;
font-size: 1rem;
padding: .75rem;
border-radius: 4px;
font-family: 'Lustria', serif;
width: 80%;
max-width: 20rem;
}

form label.top-form input:required {
border-left: 6px solid red;
}

fieldset {
border: 0;
}

.form-title {
  color: #FFEED2;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
}

.submit-button {
  color: #fd6906;
  background-color: #FFEED2;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem;
}

.reserve-now-page textarea {
width: 400px;
height: 300px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

    