@media only screen and (min-width : 600px) {

/* main part */

main, footer .right-column, footer ul .footer-nav {
    max-width: 1028px;
    margin: auto;
}

main {
    margin-left: 22%;
}

/* header part */

header {
    display: flex;
    justify-content: center;
}

header .heading-size {
    max-width: 992px;
}

header picture {
    margin-left: 2%;
    padding: 1rem;
 }

header picture img {
    width: 110px;
    height: auto;
}

.header-text h1 {
    font-size: 35px;
    width: 20rem;
}

.sub-heading {
    font-size: 1rem;
}

.current-condition {
    width: 100px;
    height: 90px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    color: #fff;
    background-color: #00327f;
    border: 1px solid gray;
    box-shadow: 3px 3px 5px gray;
}

.current-condition-label {
    margin-top: -18px;
}

/* Navigation bar*/

nav button, #menu-title {
    display: none;
}

nav {
    width: 20%;
    float: left;
    height: 1400px;
    position: absolute;
}

nav ul li a {
    border: none;
    padding: .5rem 1rem;
    text-align: left;
    font-size: 1.2rem;
}

nav ul.hide {
    display: grid;
}

nav ul .hide li a:hover {
    background-color: #9ae9f7;
    color: #00327f;
    }

/* town name*/

.town-name {
    padding: 5px;
    margin: 5px;
    font-size: 1.3rem;
}

/* 5-day weather forecast section */

.forecast {
    display: block;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    font-size: 12px;
    color: #00327f;
    max-width: 600px;
    background-color: #9ae9f7;
    margin: 1rem;
    padding: 1rem;
    height: 150px;
}

th {
    background-color: #00327f;
    color: white;
    padding: 8px;
}

th, td {
    text-align: center;
    border: 1px solid #00327f;
}

table {
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;
    width: 250px;
    background-color: #fff;
}

.forecast h3 {
    font-variant: small-caps;
}

/* footer */

.contact-info {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    justify-items: center;
}

.contact-info .right-column {
    grid-column: 2;
    grid-row: 1;
}

.right-column {
    padding: 20px;
}

.contact-info h2 {
    font-variant: small-caps;
    padding: 0;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

/* Thank You Message Medium */

main .thank-you-message {
    font-size: 1.3rem;
    color: #00327f;
    text-align: center;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    margin-top: -50px;
    font-family: 'Lustria', serif;
}

/* Gallery Images Grid Medium Screen View */

    .gallery-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        align-content: space-around;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
        padding: 0.5rem;
  }
  
/* Home page CSS */ 

main div.town-data {
    width: 360px;
    height: 230px;
}

 }