/* Medium View Grid Page */

@media only screen and (min-width : 600px) {

    /* main part */
    
    main, footer .right-column, footer ul .footer-nav {
        max-width: 1028px;
        margin: auto;
    }
    
    
    /* header part */
    
    header {
        display: grid;
        justify-content: center;
    }
    
    header .heading-size {
        max-width: 1028px;
    }
    
    header picture {
        margin-left: 2%;
        padding: 1rem;
     }
    
    header picture img {
        width: 110px;
        height: auto;
    }
    
    .header-text h1 {
        font-size: 35px;
        width: 20rem;
    }
    
    .header-text {
        padding-top: 10px;
    }

    .sub-heading {
        font-size: 1rem;
    }
    
    .current-condition {
        width: 110px;
        height: 110px;
        display: grid;
        justify-items: center;
        margin-top: 1rem;
        color: #fff;
        background-color: #00327f;
        border: 1px solid gray;
        box-shadow: 3px 3px 5px gray;
    }
    
    .current-condition-label {
        margin-top: -40px;
        text-align: center;
    }
    
    /* Navigation bar*/
    
    nav button, #menu-title {
        display: none;
    }
    
    nav {
        width: 20%;
        float: left;
        height: 500px;
        position: absolute;
    }
    
    nav ul li a {
        border: none;
        padding: .5rem 1rem;
        text-align: left;
        font-size: 1.2rem;
    }
    
    nav ul.hide {
        display: grid;
    }
    
    .footer-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 0.5rem;
        width: 100%;
        height: 40px;
    }  

    /*Medium View Margin*/

    main {
        margin-left: 22%;
    }

    /* town name*/
    
    .town-name {
        padding: 5px;
        margin: 5px;
        font-size: 1.3rem;
    }
    
    /* 5-day weather forecast section */
    
    .forecast {
        display: block;
        text-align: center;
        margin-left:auto; 
        margin-right:auto;
        font-size: 12px;
        color: #00327f;
        max-width: 600px;
        background-color: #9ae9f7;
        padding: 1rem;
        height: 150px;
    }
    
    th {
        background-color: #00327f;
        color: white;
        padding: 8px;
    }
    
    th, td {
        text-align: center;
        border: 1px solid #00327f;
    }
    
    table {
        border-collapse: collapse;
        margin-left:auto; 
        margin-right:auto;
        width: 90%;
        background-color: #fff;
    }
    
    .forecast h3 {
        font-variant: small-caps;
    }
    
    /* Upper part */
    
    section.weather-summary {
        top: 20px;
        left: 30px;
        width: 230px;
        height: 250px;
        line-height: 1.3rem;
        font-size: 1.2rem;
    }
    
    .weather-details p {
        line-height: 1.7rem;
    }
    
    section.weather-summary h3 {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    
    /* article */
    
    .article-image {
        float: right;
        padding: 10px;
        outline: 2px solid white;
        outline-offset: -20px;
    }
    
    .left-column {
        padding: 10px;
        margin: 10px;
    }
    
    .lower-part {
        overflow: auto;
    }
    
    /* footer */

    .contact-info {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        justify-items: center;
        grid-auto-flow: dense;
    }

    .contact-info .right-column {
        grid-column: 2;
        grid-row: 1;
    }

    .right-column {
        padding: 20px;
    }

    .contact-info h2 {
        font-variant: small-caps;
        padding: 0;
    }
    
    /* Thank You Message Medium */
    
    main .thank-you-message {
        font-size: 1.3rem;
        color: #00327f;
        text-align: center;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        margin-top: -50px;
        font-family: 'Lustria', serif;
    }
    
}