table {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    box-shadow: 10px 10px 20px -3px #628ca6;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #BBBBBB;
}

table thead tr th {
    color: black;
    background-color: #7fb9c2;
    font-size: 24px;
    height: 10px;
    font-weight: bold;
}

th {
    color: white;
    background-color: #628ca6;
    letter-spacing: 1px;
}

tbody {
    background-color: #e7ffed;
    padding: 10px;
}

tr:nth-child(2n), tr:nth-child(4n), tr:nth-child(6n) {
    background-color: #e7f0ed;
}

tr:nth-child(6n) td:first-child {
 font-style: italic;
}

tr:nth-child(5n) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}

th, td {
    padding: 7px;
}

tfoot {
    font-size: smaller;
    color: black;
    background-color: #7fb9c2
}

