body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2e1ff+0,b2e1ff+29,66b6fc+100;Blue+3D+%236 */
background: rgb(178,225,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(178,225,255,1) 0%, rgba(178,225,255,1) 29%, rgba(102,182,252,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(178,225,255,1) 0%,rgba(178,225,255,1) 29%,rgba(102,182,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(178,225,255,1) 0%,rgba(178,225,255,1) 29%,rgba(102,182,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
display: flex;
align-items: center;
justify-content: center;
}

h1 {
    color: #00327f;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    font-variant: small-caps;
}

p {
    color: #00327f;
    font-family: 'Lustria', serif;
    font-size: 2rem;
}