body {
    font-family: 'Lustria', serif;
    font-size: 14px;
}

header {
    background-color: #42b4ff;
    text-align: center;
    padding: 5rem;
    color: #00327f;
}

header > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
}

.header-text {
    display: inline-block;
}