@media only screen and (min-width : 992px) {
.menu-click {
    display: none
}

* {
    max-width: 960px;
    margin: auto;
}

/* header part */

header {
    padding: 15px;
}

header > img {
    width: 150px;
    margin: 5px 20px;
}

.header-text h1 {
    font-size: 50px;
}

.sub-heading {
    font-size: 18px;
    margin-top: -18px;
}

.current-condition {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 30px;
    padding: 15px;
    color: #fff;
    background-color: #00327f;
    border: 1px solid gray;
    box-shadow: 3px 3px 5px gray;
}

/* town name*/

.town-name {
    padding: 15px;
    margin: 15px;
}

/* 5-day weather forecast section */

.forecast {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    font-size: 16px;
    color: #00327f;
    width: 600px;
}

th {
    background-color: #00327f;
    color: white;
    padding: 15px;
}

th, td {
    text-align: center;
}

table {
    border-collapse: collapse;
}

.forecast h2 {
    padding: 20px;
}

/* Upper part */

.weather-summary {
    float: left;
    font-size: 1.2em;
    line-height: 20px;
}

.upper-part {
    background-image: url("/assignments/lesson-6/images/preston.jpeg");
}

/* article */

.article-image {
    float: right;
    padding: 20px;
}

.left-column {
    padding: 10px;
    margin: 10px;
}

.lower-part {
    overflow: auto;
}

/* footer */

.right-column {
    text-align: right;
    width: 50%;
    float: right;
}

.contact-info {
    padding: 20px;
}

.contact-info h2 {
    padding: 10px;
}

.map-mage {
    float: left;
    padding: 20px;
}


}