@media only screen and (min-width : 992px) {

* {
    max-width: 1028px;
    margin: auto;
}

.desktop-only-nav {
    display: inline-block;
}

/* header part */

header {
    padding: 15px;
}

header > img {
    width: 150px;
    margin: 5px 20px;
}

.header-text h1 {
    font-size: 50px;
}

.sub-heading {
    font-size: 18px;
    margin-top: -18px;
}

.current-condition {
    display: inline-block;s
    vertical-align: middle;
    margin: 5px 30px;
    padding: 15px;
    color: #fff;
    background-color: #00327f;
    border: 1px solid gray;
    box-shadow: 3px 3px 5px gray;
}

/* Navigation bar*/

nav {
    background: #6db3f2; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

nav button {
    display: none;
}

nav ul {
    margin-left: 2%;
}

nav ul li {
    float: left;
}

nav ul li a {
    border: none;
    border-right: 1px solid #42b4ff;
    padding: .8rem 1rem;
}

/* town name*/

.town-name {
    padding: 15px;
    margin: 15px;
}

/* 5-day weather forecast section */

.forecast {
    display: block;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    font-size: 16px;
    color: #00327f;
    width: 600px;
}

th {
    background-color: #00327f;
    color: white;
    padding: 15px;
}

th, td {
    text-align: center;
}

table {
    border-collapse: collapse;
}

.forecast h2 {
    padding: 20px;
}

/* Upper part */

section.weather-summary {
    top: 30px;
    left: 30px;
    width: 450px;
    height: 450px;
    color: #fff;
    line-height: 30px;
    font-size: 1.5em;
}

.weather-details p {
    display: inline-block;
    width: 100%;
}

.value {
    margin-bottom: 20px;
}


/* article */

.article-image {
    float: right;
    margin: 0;
    padding: 10px;
}

.left-column {
    padding: 10px;
    margin: 10px;
}

.lower-part {
    overflow: auto;
}

/* footer */

.right-column {
    text-align: right;
    width: 50%;
    float: right;
}

.contact-info {
    padding: 20px;
}

.contact-info h2 {
    padding: 10px;
}

.map-mage {
    float: left;
    padding: 20px;
}


}