@media only screen and (min-width : 768px) {
.menu-click {
    display: none
}

* {
    max-width: 960px;
    margin: auto;
}

/* header part */

header {
    background-color: #42b4ff;
    text-align: center;
    padding: 15px;
    color: #fff;
}

header > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
    margin: 5px 30px;
}

.header-text {
    display: inline-block;
    vertical-align: middle;
}

.header-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 2px 2px 4px gray;
    letter-spacing: 1px;
    margin-top: 10px;
}

.sub-heading {
    font-size: 18px;
    color: #00327f;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 1px;
    font-weight: bold;
    margin-top: -18px;
}

.current-condition {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 30px;
    padding: 15px;
    color: #fff;
    background-color: #00327f;
    border: 1px solid gray;
    box-shadow: 3px 3px 5px gray;
}

.current-condition img {
    width: 70px;
    height: auto;
}

.current-condition-label {
    float: right;
    padding: 20px 10px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

/* town name*/

.town-name {
    padding: 15px;
    margin: 15px;
}

/* Upper part */

.weather-summary {
    position: absolute;
    top: -400px;
    right: 600px;
    background-color: #00327f;
    opacity: 0.6;
    filter: alpha(opacity=60);
    padding: 40px;
    font-size: 16px;
}

/* 5-day weather forecast section */

.forecast {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    font-size: 16px;
    color: #00327f;
    width: 600px;
}

th {
    background-color: #00327f;
    color: white;
    padding: 15px;
}

th, td {
    text-align: center;
}

table {
    border-collapse: collapse;
}

.forecast h2 {
    padding: 20px;
}

/* article section */

.article-image {
    float: right;
    padding: 20px;
}


.lower-part {
    padding: 10px;
    margin: 10px;
    overflow: auto;
}

/* footer */

.contact-info h2 {
padding: 20px;
}

.contact-info {
    overflow: auto;
}

.map-image {
    float: left;
    padding: 20px;
}

}