/* This is the mobile first */

body {
    font-family: 'Lustria', serif;
    font-size: 14px;
}

h2 {
    color: #00327f;
}

h3 {
    color: white;
}

/* header part */

header {
    background-color: #42b4ff;
    text-align: center;
    padding: 5px;
    color: #fff;
}

header > img {
    width: 70px;
    height: auto;
    vertical-align: middle;
    margin: 5px 10px;
}

.header-text {
    display: inline-block;
    vertical-align: middle;
}

.header-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    text-shadow: 2px 2px 4px gray;
    letter-spacing: 1px;
    margin-top: 10px;
}

.sub-heading {
    font-size: 12px;
    color: #00327f;
    font-style: italic;
    line-height: 1px;
    font-weight: bold;
    margin-top: -10px;
}

.current-condition {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 30px;
    padding: 15px;
    color: #fff;
    background-color: #00327f;
    border: 1px solid gray;
    box-shadow: 3px 3px 5px gray;
}

.current-condition img {
    width: 70px;
    height: auto;
}

.current-condition-label {
    float: right;
    padding: 20px 10px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

/* navigation bar */

.navigation-bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00327f;
}

li {
    list-style: none;
    float: left;

}

li a {
    display: block;
    color: white;
    padding: 15px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
    margin-left: 1px;
}

li a:hover {
    background-color: #42b4ff;
    color: #00327f;
    }

/* Town Name */
.town-name {
    text-align: center;
    font-weight: bold;
}

/* Upper part */

section.weather-summary {
    position: absolute;
    top: 200px;
    background-color: #00327f;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 200px;
    height: 200px;
    padding: 10px;
}

.weather-details p {
    color: #fff;
}

p.value {
    float: right;
    margin: 0;
    padding: 0;
}

/* lower part */

.lower-part {
    padding: 10px;
}

/* Images */

.town-image, .article-image, .map-image {
    width: auto ;
    max-width: 100% ;
    height: auto ;
}

/* Footer */

.contact-info {
    text-align: center;
}

.contact-info li {
    font-size: 10px;
}

/*CSS media query for mobile starts here */

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .forecast, .desktop-only-nav, .current-condition {
    display: none;
    }
}

/*CSS media query for mobile ends here */

