@import url('https://fonts.googleapis.com/css?family=Lora');

/* SMALL SCREEN VIEW 992px and below */

h1, h2 {
    font-family: 'Lora';
}

p, main div, nav {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 0.9rem;
}

body {
    max-width: 20rem;
    margin: auto
}

/* HEADER STYLING */

header {
    background-color: #6495ED;
    width: 20rem;
    padding-top: 2.2rem;
    padding-bottom: 1.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: right;
}

header a {
    text-decoration: none;
    color: #FAEBD7;
}

/* NAVIGATION LINKS */

header nav ul li a:visited, header h1 a:visited { 
    color: #FAEBD7;
}

header nav ul li a:active, header h1 a:active { 
    color: #DEB887;
}

header nav ul li a:hover, header h1 a:hover { 
    color: white;
    text-decoration: underline;
}

header nav ul li {
    list-style: none;
    padding: 0.5rem;
    font-size: 1.1rem;
}

/* OTHER PAGE LINKS */

article p a, article p a:visited {
    color: #6495ED;
    text-decoration: none;
}

article p a:active {
    color: #DEB887;
}

article p a:hover {
    text-decoration: underline;
}

/* ARTICLE TITLE LINKS */

article h2 a, article h2 a:visited {
    color: black;
    text-decoration: none;
}

article h2 a:active {
    color: #DEB887;
}

article h2 a:hover {
    color: #6495ED;
    text-decoration: underline;
}

/* MAIN SECTION STYLING */

main {
    background-color: #FAEBD7;
    padding: 1rem;
    width: 20rem;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding-top: 2rem;
}

article {
    background-color: #FFF;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

div .post-date {
    color: #8E8E8E;
    padding-top: 1rem;
}

.post-content h2 {
    margin-top: 0;
    padding-top: 0.5rem;
}

.post-content p {
    padding-bottom: 1.5rem;
}

/* LARGE SCREEN VIEW 992px and up */

@media only screen and (min-width : 992px) {

body {
    max-width: 40rem;
    margin-left: 1rem;
    position: relative;
}
    
/* LARGE SCREEN STYLING */

header {
    max-width: 12rem;
    float: left;
    height: 1392px;
    padding: 2rem;
    position: absolute;
}

main {
    margin-left: 40%;
    width: 40rem;
}

article {
    margin: 2rem;
    padding: 2.2rem;
}

figure img {
    width: 260px;
}

}